.cart {
  background-color: rgb(230, 168, 53);
  padding: 25px;
  position: sticky;
  top: 0;
}

.btn-clear-cart {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
  background: red;
  border-radius: 4px;
  color: white;
  height: 51px;
  font-size: 21px;
  align-items: center;
}
